*{
    box-sizing:border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
    background-color: #131937;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.filtre{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    background-color: #313131;
    border:solid 1px #eeeeee;
    margin-top: 100px;
    gap: 10px;
    width: 200px;
    height: 350px;
    margin-right: 1300px;
    color: #ffffff;
    border-radius: 10px;
    position: absolute;
}

.filtre button{
    background-color: #313131;
    border: none;
    color: #ffffff;
    margin-top: 10px;
}

.range h3{
    margin-left: 10px;
}

.filtre label{
    display: flex;
    color: #ffffff;
    margin-left:10px ;
}

.fullcard{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
 }

 .three_card{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 50px;
 }

 .card {
    background-color: #eeeeee;
    color: #000000;
    border-radius: 10px;
    width: 250px;
 }

 .card img{
    width: 250px;
    height: 350px;
    object-fit:cover;
    border-radius: 10px;
 }

 .card_text {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
 }

 .card_info {
    display: flex;
    justify-content: space-between;
    align-content: center;
 }

 .card_info .ajouter {
    align-self: center;
 }

 .card_text p, .card_info p {
   margin: 0;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   max-width: 150px;
 }

 .ajouter {
    border-radius: 20px;
    padding: 5px 5px;
    background-color: #c44444;
    color: #ffffff;
    border: none;
    cursor: pointer;
 }

 .page {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 30px;
 }

 .page button{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: #c44444;
    color: #ffffff;
    cursor: pointer;
 }