body{
    margin:0;
    background-color: #131931;
    color: #ffffff;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
}

.nameinfo{
    display: flex;
    justify-content: center;
    gap: 20px;
}