footer{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
footer img {
    width: 148px;
    height: 138px;
    mix-blend-mode: screen;
}

.footer {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-right: 200px;
}
.footer div {
    display: flex;
    flex-direction: column;
}

@media(max-width: 700px){
    footer{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
    }

    footer img{
        align-self: center !important;
    }

    .footer{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 20px !important;
        margin-right: 0 !important;  
    }
}