header{
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: #080329;
  padding: 0 20px;
}
header a {
  color: #ffffff;
}

header button{
  margin-left: auto;
  border-radius: 20px;
  padding: 10px 5px;
  background-color: #c44444;
  border: none;
}
button a {
  color: #ffffff;
}
header a {
  text-decoration: none;
}

.hyperlien {
  display: flex;
  gap: 50px;
  margin-left: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f1f1f1;
    border-radius: 24px;
    padding: 8px 16px;
}

.search-bar svg {
    cursor: pointer;
    flex-shrink: 0;
    fill: #5f6368;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    width: 400px;
}

header img {
  width: 142px;
  height: 126px;
  mix-blend-mode:luminosity;
}