body{
    margin: auto;
    background-color: #131739;
    color: #ffffff;
    box-sizing: border-box;
    max-width: auto;
    overflow-x: hidden;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 .hero{
    background-image: url(../img/fond_dragon_ball.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
 }

 #button_hero{
    display: flex;
    gap: 50px;
    margin-left: 200px;
 }

 #button_hero button{
    border-radius: 20px;
    background-color: #c44444;
    padding: 12px 12px;
    border: none;
 }

 #button_hero button a {
    text-decoration: none;
    font-size: 18px;
 }

 #titre_hero {
    margin-left: 150px;
 }
 #titre_hero h2 {
    font-size: 40px;
 }

.carousel{
    position: relative;
}

 .carousel_inner{
    display: flex;
    gap: 90px;
    margin-left: 50px;
    width: 200%;
    overflow-x: hidden;
    flex-wrap: nowrap;
 }

 .slide {
    transition: .5s ease-in-out;
 }

 .carousel_control{
    position:absolute;
    z-index: 5;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-between;
 }

 .carousel_control button{
    background-color: #131739;
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
 }

 .carousel_control button .material-symbols-outlined{
   color: #eeeeee;
 }

 .carousel_dots {
    position:absolute;
    z-index: 5;
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
 }

 .carousel_dots .dot{
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
 }

 .carousel_dots .active{
    border: 10px solid #761530 !important;
 }

 .carousel_dots .inactive{
    border: 10px solid #2596be;
 }

 #kodomo {
    background-image: url(../img/illustr_kodomo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content:start;
    align-items: center;
    border-radius: 10px;
 }

 #shonen {
    background-image: url(../img/illustr_shonen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
 }

 #shojo {
    background-image: url(../img/illustr_shojo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
 }

 #seinen {
    background-image: url(../img/illustr_seinen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
 }

 #josei {
    background-image: url(../img/illustr_josei.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
 }

 .button_categorie {
    background-color: #c44444;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    margin-left: 60px;
    margin-top: 60px;
 }

 .button_categorie a{
    text-decoration: none;
 }

 .tendance h3{
   margin-top: 50px;
 }

 .fullcard{
    display: flex;
    gap: 60px;
    margin-left: 50px;
    margin-bottom: 100px;
 }

 .card {
    background-color: #eeeeee;
    color: #000000;
    border-radius: 10px;
 }

 .card img{
    width: 250px;
    height: 350px;
    object-fit:fill;
    border-radius: 10px;
 }

 .card_text {
    display: flex;
    justify-content: space-between;
 }

 .card_info {
    display: flex;
    justify-content: space-between;
    align-content: center;
 }

 .card_info .ajouter {
    align-self: center;
 }

 .ajouter {
    border-radius: 20px;
    padding: 5px 5px;
    background-color: #c44444;
    color: #ffffff;
    border: none;
    cursor: pointer;
 }

 h3 {
    margin-left: 50px;
    font-size: 30px;
 }